/* Esercizio 1*/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}
.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}
.ex-2-square:active{
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 3s, height 3s;
}
.ex-5-square:hover{
    width: 80px;
    height: 80px;
}
.ex-5-square:active{
    width: 40px;
    height: 40px;
}

/* Esercizio 6 - 7 -8*/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* Esercizio 6 */
.ex-6-img{
    transition: filter;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}

/* Esercizio 7 */
.ex-7-img{
    transition: filter 3s;
}
.ex-7-img:hover{
    filter: grayscale(100%);
}

/* Esercizio 8 */
.ex-8-img{
    transition: width 3s, border-radius 3s, transform 3s;
}
.ex-8-img:hover{
    width: 300px;
    transform: rotate(360deg);
    border-radius: 30px;
}

/* Esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 3s, transform 3s, border-radius 3s, width 4s;
}
.ex-9-img:hover{
    transform: scale(0.8);
    filter: sepia(100%);
    border-radius: 50px;
}
.ex-9-img:active{
    width: 600px;
    filter: none;
}

/* Esercizio 10 */
.ex-10-icon{
    font-size: 60px;
    transition: transform 3s, rotate(360deg);
    animation: rotating 1s linear infinite;
}
@keyframes rotating{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
    animation-name: rotate, rotate-1s;
    animation-duration: 3s, 1s;
    animation-delay: 0ms, 3s;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(270deg);
    }  
}
@keyframes rotate-1s{
    from{
        transform: rotate(270deg);
    }
    to{
        transform: rotate(0deg);
    }
}

/* Esercizio 12 e 13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #F5F5F5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #F5F5F5;
    width: 60px;
    height: 20px;
}

/* Esercizio 12 */
.ex-12-top-white{
    animation: top-12 3s infinite;
}
@keyframes top-12 {
    from { left: 10%; }
    to { left: 100px; }
}
.ex-12-bottom-white{
    animation: bottom-12 3s infinite;
}
@keyframes bottom-12{
    from { right: 20%; }
    to { right: 100px; }
}

/* Esercizio 13 */
.ex-13-top-white{
    animation: top-13 3s infinite;
}
@keyframes top-13{
   0%  {
        top: -10px;
        left: 10%;
    }
   20%  {
        left: calc(100% - 22px); 
        top: -10px;
    }
   40%  {
        left: calc(100% - 22px); 
        top: calc(100% - 10px);
    }
   60%  {
        left: -22px; 
        top: calc(100% - 10px)
    }
   80%  {
       left: -22px; 
       top: -10px;
    } 
   100% {left:10%; top:-10px;} 
}

.ex-13-bottom-white{
    animation: bottom-13 3s infinite;
}
@keyframes bottom-13{
    0%  {
        bottom: -10px;
        right: 20%;
    }
   20%  {
        right: calc(100% - 38px); 
        bottom: -10px;
    }
   40%  {
        right: calc(100% - 38px); 
        bottom: calc(100% - 10px);
    }
   60%  {
        right: -38px; 
        bottom: calc(100% - 10px)
    }
   80%  {
        right: -38px; 
        bottom: -10px;
    } 
   100% {
        right: 20%; 
        bottom: -10px;} 
}